# The Quest for Flight

![Image of Yaktocat](https://imgs.xkcd.com/comics/python.png)

## Getting started

In [1]:
# import packages
import pandas as pd
import seaborn as sb
import numpy as np
import os
import matplotlib.pyplot as plt

In [2]:
# set working directory
os.chdir('C:\\Users\\Tobi\\Jupyiter Notebooks\\')

In [3]:
# get data set
iris = sb.load_dataset('iris')

# check if data is dataframe
isinstance(iris, pd.DataFrame)

True

## Properties of the dataframe
Properties have no no () no arguments (as opposed to methods)

In [4]:
# datatypes
iris.dtypes

sepal_length    float64
sepal_width     float64
petal_length    float64
petal_width     float64
species          object
dtype: object

In [5]:
# columns
iris.columns

Index(['sepal_length', 'sepal_width', 'petal_length', 'petal_width',
       'species'],
      dtype='object')

# Display data
iris.head(3)

## Accessing data

In [6]:
# access column by name (string)
iris['sepal_length']

0      5.1
1      4.9
2      4.7
3      4.6
4      5.0
      ...
145    6.7
146    6.3
147    6.5
148    6.2
149    5.9
Name: sepal_length, Length: 150, dtype: float64

In [7]:
# access column by name (dot notation)
iris.species

0         setosa
1         setosa
2         setosa
3         setosa
4         setosa
         ...
145    virginica
146    virginica
147    virginica
148    virginica
149    virginica
Name: species, Length: 150, dtype: object

## Describing data

In [8]:
# numerical dat
iris.describe(include = [np.number])

       sepal_length  sepal_width  petal_length  petal_width
count    150.000000   150.000000    150.000000   150.000000
mean       5.843333     3.057333      3.758000     1.199333
std        0.828066     0.435866      1.765298     0.762238
min        4.300000     2.000000      1.000000     0.100000
25%        5.100000     2.800000      1.600000     0.300000
50%        5.800000     3.000000      4.350000     1.300000
75%        6.400000     3.300000      5.100000     1.800000
max        7.900000     4.400000      6.900000     2.500000

In [9]:
# categorical data
iris.describe(include = ['O'])

           species
count          150
unique           3
top     versicolor
freq            50

## Statistical functions

In [10]:
print(np.mean(iris.sepal_length))
print(np.median(iris.sepal_length))

5.843333333333335
5.8

## Aggregations

In [11]:
iris.sum()

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [12]:
iris.sum(axis=0)

sepal_length                                                876.5
sepal_width                                                 458.6
petal_length                                                563.7
petal_width                                                 179.9
species         setosasetosasetosasetosasetosasetosasetosaseto...
dtype: object

In [13]:
iris.sum(axis=1)

0      10.2
1       9.5
2       9.4
3       9.4
4      10.2
       ...
145    17.2
146    15.7
147    16.7
148    17.3
149    15.8
Length: 150, dtype: float64

## Grouped Aggregations

Mit groupby()

In [14]:
iris.groupby(['species']).sum()

            sepal_length  sepal_width  petal_length  petal_width
species
setosa             250.3        171.4          73.1         12.3
versicolor         296.8        138.5         213.0         66.3
virginica          329.4        148.7         277.6        101.3

Direkt

In [15]:
iris['species'].value_counts()

versicolor    50
virginica     50
setosa        50
Name: species, dtype: int64

In [16]:
iris.groupby(['species']).size()

species
setosa        50
versicolor    50
virginica     50
dtype: int64

 ### Selecting rows 
Use single brackets.  
Indexing starts at 1 (tbc).  
If only 1 row is selected it is returned as a list.

## Accessing data within a DataFrame
Use .loc() to locate the requested data - .loc(row reference, column reference).      
Warning: Note that contrary to usual python slices, both the start and the stop are included.

In [17]:
print(iris.loc[1])

sepal_length       4.9
sepal_width          3
petal_length       1.4
petal_width        0.2
species         setosa
Name: 1, dtype: object

In [18]:
print(iris.loc[1:2])

   sepal_length  sepal_width  petal_length  petal_width species
1           4.9          3.0           1.4          0.2  setosa
2           4.7          3.2           1.3          0.2  setosa

Weiter gehts mit: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

## Manipulating data

In [19]:
# addding new columns
iris['tmp'] = iris.sepal_length   + iris.sepal_width  

# adding new colums with conditional logic
iris['tmp2'] =  np.where(iris.sepal_length >= 5.0, 1, 0)   

iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  tmp  tmp2
0           5.1          3.5           1.4          0.2  setosa  8.6     1
1           4.9          3.0           1.4          0.2  setosa  7.9     0
2           4.7          3.2           1.3          0.2  setosa  7.9     0
3           4.6          3.1           1.5          0.2  setosa  7.7     0
4           5.0          3.6           1.4          0.2  setosa  8.6     1

In [20]:
# remove columns from dataframe 
iris.drop(columns = ['tmp', 'tmp2'])
iris.head()

   sepal_length  sepal_width  petal_length  petal_width species  tmp  tmp2
0           5.1          3.5           1.4          0.2  setosa  8.6     1
1           4.9          3.0           1.4          0.2  setosa  7.9     0
2           4.7          3.2           1.3          0.2  setosa  7.9     0
3           4.6          3.1           1.5          0.2  setosa  7.7     0
4           5.0          3.6           1.4          0.2  setosa  8.6     1

# Plotting
Matplotlib is the de-facto standard.<br><br> 
Seaborn is built over Matplotlib and makes building more attractive plots easier. Just by importing Seaborn, your matplotlib plots are made ‘prettier’ without any code modification.<br><br>
ggplot currently seems to be bugged: Seems currently to be bugged : https://github.com/yhat/ggpy/issues/662

## Matplotlib
Tutorials: https://matplotlib.org/tutorials/index.html