# The Quest for Flight

![Image of Yaktocat](https://imgs.xkcd.com/comics/python.png)

## Getting started

In [ ]:
# import packages
import pandas as pd
import seaborn as sb
import numpy as np
import os
import matplotlib.pyplot as plt

# enable auto complete
%config IPCompleter.greedy=True

In [ ]:
# set working directory
os.chdir('C:\\Users\\Tobi\\Jupyiter Notebooks\\')

In [ ]:
# get data set
iris = sb.load_dataset('iris')

# check if data is dataframe
isinstance(iris, pd.DataFrame)

## Properties of the dataframe
Properties have no no () no arguments (as opposed to methods)

In [ ]:
# datatypes
iris.dtypes

In [ ]:
# columns
iris.columns

# Display data
iris.head(3)

## Accessing data

In [ ]:
# access column by name (string)
iris['sepal_length']

In [ ]:
# access column by name (dot notation)
iris.species

## Describing data

In [ ]:
# numerical dat
iris.describe(include = [np.number])

In [ ]:
# categorical data
iris.describe(include = ['O'])

## Statistical functions

In [ ]:
print(np.mean(iris.sepal_length))
print(np.median(iris.sepal_length))

## Aggregations

In [ ]:
iris.sum()

In [ ]:
iris.sum(axis=0)

In [ ]:
iris.sum(axis=1)

## Grouped Aggregations

Mit groupby()

In [ ]:
iris.groupby(['species']).sum()

Direkt

In [ ]:
iris['species'].value_counts()

In [ ]:
iris.groupby(['species']).size()

 ### Selecting rows 
Use single brackets.  
Indexing starts at 1 (tbc).  
If only 1 row is selected it is returned as a list.

## Accessing data within a DataFrame
Use .loc() to locate the requested data - .loc(row reference, column reference).      
Warning: Note that contrary to usual python slices, both the start and the stop are included.

In [ ]:
print(iris.loc[1])

In [ ]:
print(iris.loc[1:2])

Weiter gehts mit: https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.loc.html

## Manipulating data

In [ ]:
# addding new columns
iris['tmp'] = iris.sepal_length   + iris.sepal_width  

# adding new colums with conditional logic
iris['tmp2'] =  np.where(iris.sepal_length >= 5.0, 1, 0)   

iris.head()

In [ ]:
# remove columns from dataframe 
iris.drop(columns = ['tmp', 'tmp2'])
iris.head()

# Plotting
Matplotlib is the de-facto standard.<br><br> 
Seaborn is built over Matplotlib and makes building more attractive plots easier. Just by importing Seaborn, your matplotlib plots are made ‘prettier’ without any code modification.<br><br>
ggplot currently seems to be bugged: Seems currently to be bugged : https://github.com/yhat/ggpy/issues/662

## Matplotlib
Tutorials: https://matplotlib.org/tutorials/index.html

In [ ]:
# setting up a figure with multiple plots
plt.figure(figsize=(12, 3))

# basic figure from scratch
plt.subplot(131) 
plt.plot(iris.sepal_length, iris.sepal_width, 'ro')
# adding data from a second dataset
plt.subplot(132)
plt.plot(iris.sepal_length, iris.sepal_width, 'ro')
plt.plot(iris.sepal_length, iris.petal_width, 'g+')
# scatter plot - and using the data argument (which then requires the dimensions to be written as strings)
plt.subplot(133)
plt.scatter('sepal_length', 'petal_width', data = iris)
# title, annotations and legends
#plt.bar(species, data = iris)
#plt.title('title')

In [ ]:
#plt.bar(iris.species.value_counts(), data = iris)

In [ ]:
iris.groupby(['species'], as_index = False).count()

In [4]:
def FreqTable(df, x):
    return(df.groupby(x, as_index = False).count())

FreqTable(iris, 'species')

def FreqTable2(df, x, y):
    return(df.groupby([x, y], as_index = False).size())
           
FreqTable2(iris, 'species', 'sepal_width')

species     sepal_width
setosa      2.3             1
            2.9             1
            3.0             6
            3.1             4
            3.2             5
            3.3             2
            3.4             9
            3.5             6
            3.6             3
            3.7             3
            3.8             4
            3.9             2
            4.0             1
            4.1             1
            4.2             1
            4.4             1
versicolor  2.0             1
            2.2             2
            2.3             3
            2.4             3
            2.5             4
            2.6             3
            2.7             5
            2.8             6
            2.9             7
            3.0             8
            3.1             3
            3.2             3
            3.3             1
            3.4             1
virginica   2.2             1
            2.5             4
            2.6             2
            2.7             4
            2.8             8
            2.9             2
            3.0            12
            3.1             4
            3.2             5
            3.3             3
            3.4             2
            3.6             1
            3.8             2
dtype: int64